<a-entity id="menu1" class="screen menu dark"  position="-2.712 1.5 -1.476" rotation="0 45 0">
  <h2>Menu</h2>
  <ul>
    <li><button id="menu1-b1" >Stats</button></li>
    <li><button id="menu1-b2" >Mission</button></li>
    <li><button id="menu1-b3" >Control Panel</button></li>
    <li><button id="menu1-b4" >Limitations</button></li>
  </ul>
</a-entity>
<a-entity id="main" class="screen dark main" position="0 1.5 -2"></a-entity>
<a-entity id="menu2" class="screen menu dark" position="2.712 1.5 -1.476" rotation="0 -45 0">
  <h2>Avatars</h2>
  <a id="menu2-b1" class="imgLink" href="#">
    <img crossorigin="anonymous"   src="https://cdn.glitch.com/fec96da0-7526-4b9a-aecf-3abbbe7fcdc5%2Fchip.png?v=1567384714024" width="80" height="80">
    <div>Chip</div>
  </a>
  <a id="menu2-b2" class="imgLink" href="#">
    <img crossorigin="anonymous"  src="https://cdn.glitch.com/fec96da0-7526-4b9a-aecf-3abbbe7fcdc5%2Fmel.png?v=1567389128396" width="80" height="80">
    <div>Mel</div>
  </a>
  <a id="menu2-b3" class="imgLink" href="#">
    <img  crossorigin="anonymous" src="https://cdn.glitch.com/fec96da0-7526-4b9a-aecf-3abbbe7fcdc5%2Fvr.png?v=1567383953311" width="80" height="80">
    <div>VR-1</div>
  </a>
</a-entity>

