.joystick-outer {
  position: fixed;
  bottom: 32px;
  left: 32px;
  height: 116px;
  width: 116px;
  border-radius: 100%;
  border: 10px solid rgba(0, 136, 204, 0.1);
  background: rgba(0, 136, 204, 0.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s;
  cursor: pointer;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.joystick-outer:hover, .joystick-outer.active {
  border-color: rgba(0, 136, 204, 0.2);
}
.joystick-outer:hover .joystick-inner, .joystick-outer.active .joystick-inner {
  background: rgba(0, 136, 204, 0.35);
}
.joystick-outer.active {
  background: rgba(0, 136, 204, 0.1);
}

.joystick-inner {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background: rgba(0, 136, 204, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
  transition: background 0.3s;
  will-change: transform;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
